//2014-07-30 新建的首页的css代码
.top-baner {
	margin: 0 0 5px 0;
	list-style: none;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #909090;
	.form-search {
		margin: -5px 0 0 0;
		.search-query {
			border-radius: 10px;
		}
	}
	li {
		float: left;
		margin-left: 15px;
		padding: 10px 10px 0 10px;
		a {
			color: #666666;
			font-size: 16px;
			text-decoration: none;
			font-family: "STHeiti", "SimHei"
		}
	}
}
.view-content {
	clear: both;
	width: 99%;
	margin: auto;
}
.home {
	width: 100%;
	height: auto;
	float: left;
	border: 1px solid #fff;
	.header-top {
		float: left;
		width: 100%;
		border-bottom: 1px solid #909090;
		#myCarousel {
			float: left;
			width: 73%;
		}
		.carousel {
			margin-bottom: 0;
		}
		.carousel-indicators {
			top: 93%;
			left: 50%;
			li {
				background-color: blue;
				width: 12px;
				height: 12px;
			}
			.active {
				background: black;
			}
		}
		.login-interface {
			float: right;
			width: 25%;
			height: auto;
			background: white;
			.user-name, .password-text{
				width: 100%;
				float: left;
			}
			.login-btn {
				clear: both;
				text-align: center;
				padding: 5px;
				.btn {
					margin-left: 10px;
				}
			}
			h3 {
				text-align: center;
				margin: 0;
				padding: 5px;
			}
			form {
				float: left;
				margin: 0;
				label {
					width: 25%;
					float: left;
					font-size: 16px;
				}
				input {
					width: 60%;
					margin-bottom: 20px;
					float: left;
				}
			}
		}
	}
	.content {
		clear: both;
		width: 100%;
		margin: 5px 0;
		float: left;
		ul {
			list-style: none;
			margin: 0;
			h3 {
				width: 300px;
				margin: 30px 0 0 0;
			}
			.context {
				font-family:"LiHei Pro Medium", "Microsoft YaHei", "SimHei";
			}
			hr {
				margin: 0;
				border-top: 1px solid #909090;
				border-bottom: 1px solid #e8e8e8;
			}
			.top-list {
				width: 100%;
				padding-bottom: 10px;
				li {
					float: left;
					width: 30%;
					padding-top: 10px;
					margin-left: 20px;
				}
			}
			.footer-list {
				clear: both;
				li {
					width: 45%;
					float: left;
					margin-left: 30px;
				}
			}
			img {
				width: 80px;
				height: 80px;
				float: left;
				margin-right: 20px;
			}
		}
	}
	.bottomer {
		clear: both;
		width: 100%;
		height: 50px;
	}
}
.footer {
	clear: both;
	border-top: 1px solid #909090;
	.copy-right{
		padding: 5px;
		text-align: center;
	}
}

