<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-with, initial-scale=1"/>
<title>ROBT</title>
</head>
<%= stylesheet_link_tag "mobile" %>
<%= javascript_include_tag "mobile" %>
<body>

<%= yield %>
<div id="copy-right">
<span>&copy; 上海罗倍拓工业设备有限公司 版权所有</span>
</div>
</body>
</html>
